

<!-- Start Top Bar -->
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="menu">
            <li>
              Link1 
            </li>
            <li>
              Link2 
            </li>
            <li>
              Link3 
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Top Bar -->
    <br>
    <main class="row">
    </main>


    <footer class="row column">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <hr>
      <ul class="menu">
        <li>Examples by </li>
        <li><a href="https://twitter.com/bpineda">bpineda</a></li>
      </ul>
    </footer>
