<div class="medium-12 large-12 columns">
    <h3>Form examples</h3>
    <p>There is nothing wrong with template driven forms, but from a programming technique point of view bi-directional binding is a solution that promotes mutability.</p>
    <p>Each form has a state that can be updated by many different interactions and its up to the application developer to manage that state and prevent it from getting corrupted. This can get hard to do for very large forms and can introduce a category of potential bugs.</p>
    <p>Again its important to realize that this only happens in very large / complex forms. Angular does provides a different alternative for managing forms, so let's go through it.</p>
</div>
