<div class="medium-12 large-12 columns">
    <h3>Template-Driven Form</h3>
    <form>
    <div class="row">
      <div class="small-2 columns">
        <label for="middle-label" class="middle">Full Name</label>
      </div>
      <div class="small-10 columns">
        <input type="text" id="middle-label" placeholder="John Doe">
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <label for="middle-label" class="middle">Email</label>
      </div>
      <div class="small-10 columns">
        <input type="text" id="middle-label" placeholder="user@domain.com">
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <label for="middle-label" class="middle">Password</label>
      </div>
      <div class="small-10 columns">
        <input type="password" id="middle-label" placeholder="$123A">
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input class="button hollow" type="submit" value="SEND" />
        <a class="button success hollow">CLEAR</a>
      </div>
    </div>
    </form>
    
</div>
