<div class="medium-12 large-12 columns">
    <h3>Template-Driven Form</h3>
    <form #f="ngForm" (ngSubmit)="onSubmitTemplateBased()" >
    <div class="row">
      <div class="small-2 columns">
        <label for="middle-label" class="middle">Full Name</label>
      </div>
      <div class="small-10 columns">
        <input [(ngModel)]="fullName" name="fullName" required type="text" id="middle-label" placeholder="John Doe">
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <label for="middle-label" class="middle">Email</label>
      </div>
      <div class="small-10 columns">
        <input [(ngModel)]="email" name="email" required type="text" id="middle-label" placeholder="user@domain.com">
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <label for="middle-label" class="middle">Password</label>
      </div>
      <div class="small-10 columns">
        <input [(ngModel)]="password" name="password" required type="password" id="middle-label" placeholder="$123A">
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input class="button hollow" [disabled]="!f.valid" type="submit" value="SEND" />
        <a class="button success hollow" (click)="clearForm()">CLEAR</a>
      </div>
    </div>
    </form>
    {{ fullName }} {{ email }} : {{ password }}
    
</div>
