<div class="medium-12 large-12 columns">
    <h3>Model-Driven Form</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="small-2 columns">
        <label for="middle-label" class="middle">Full Name</label>
      </div>
      <div class="small-10 columns">
        <input type="text" id="middle-label" placeholder="John Doe"
          formControlName="fullName"
        >
        <div class="callout warning" 
          [hidden]="form.controls.fullName.valid || form.controls.fullName.pristine"
        >
          <p>Name is invalid</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <label for="middle-label" class="middle">Email</label>
      </div>
      <div class="small-10 columns">
        <input type="text" id="middle-label" placeholder="user@domain.com"
          formControlName="email"
        >
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <label for="middle-label" class="middle">Password</label>
      </div>
      <div class="small-10 columns">
        <input type="password" id="middle-label" placeholder="$123A"
          formControlName="password"
        >
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <input class="button hollow" [disabled]="!form.valid" type="submit" value="SEND" />
      </div>
    </div>
    </form>
    <button class="button hollow success" (click)="onClickPatch()">Patch</button>
        <button class="button hollow secondary" (click)="onClickSetValue()">SetValue</button>
        <button class="button hollow warning" (click)="onClickReset()">Reset</button>
        <p>Valid form: {{ form.valid }}</p>
        <p>Name: {{ fullName.value }}</p>
    
</div>
